<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="computer_name" value="usl" />
  <param name = "/use_sim_time" value="true"/>

  <node  pkg="target_line_detector" name="target_line_detector_node_os" type="target_line_detector_node" output="screen">
	<remap from="/cloud_in" to="/os1_cloud_node/points/rotated/with_edges/plane"/>
    <param name = "dot_prod_high_val" value="0.90"/>
    <param name = "dot_prod_low_val" value="0.10" />
    <param name = "ransac_threshold" value="0.02" />
    <param name = "min_points_per_line" value="4" />
  </node>
</launch>  
